* {
	color: #FF3E96
}

a {
	color: white;
}
a:hover {
	color: #ffdd42;
}

h1 {
	text-align: center;
}

body {
	background-color: #FFDDDD;
}

img {
	display: block;
	margin: 0 auto;
}

nav {
	margin: 0;
	text-align: center;
}
nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
}
nav ul li a:link, nav ul li a:visited {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	background: white;
	padding: 3px 0 3px 0px;
	border: solid #929ca4 1px;
	text-align: center;
}

aside {
	float: left;
	font-size: 125%;
	margin-right: 2em;
}

.bxslider {
	background-color: #FF3E96;
}

#submit h1 {
	position: relative;
	font-size: 300%;
	opacity: .2;
	color: blue;
	text-align: center;
}

#submit img {
	display: block;
	margin: 0 auto;
}

#submit {
	background: #FDDFDF;
}

#menu_list a {
	display: inline-block;
	width: 110px;
	margin-bottom: 15px;
	text-decoration: none;
	color: #FF3E96;
}
#menu_list a:hover {
	display: inline-block;
	color: white;
	background-color: #FF3E96;
}

#food h4 {
	text-align: center;
	font-size: 200%;
}

#food p {
	text-align: center;
	font-size: 150%;
}

#food img {
	width: 200px;
	height: 500px
}

#about h1 {
	font-size: 300%;
	text-align: center;
}

#faq section {
	padding: 15px 25px;
}
#faq h1 {
	font-size: 300%;
	text-align: center;
}

#accordion {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#accordion .ui-accordion {
	background-color: #FDDFDF;
	margin: 50px auto;
}

#accordion .ui-accordion-header {
	background-color: #FF3E96;
	color: white;
	background-image: none;
	margin: 0px;
	border-color: white;
}
#accordion .ui-accordion-content a {
	color: #FF3E96;
}
#accordion .ui-accordion-content a:hover {
	color: #ffdd42;
}

#accordion .ui-accordion-content {
	width: 90%;
	background-image: none;
	background-color: #FDDFDF;
	border-color: #FDDFDF;
	font-size: 12pt;
	line-height: 16pt;
	line-height: 16pt;
	margin: 0;
}

#form article, aside, figure, footer, header, nav, section {
	display: block;
}

#form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 87.5%;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	padding: 0;
}
#form section {
	padding: 0 2em 1em;
}
#form label {
	float: left;
	width: 13em;
	text-align: left;
	margin-left: 1em;
}
#form label.nofloat {
	float: none;
}
#form input {
	width: 13em;
	margin-left: 1em;
	margin-bottom: .5em;
}
#form span {
	color: red;
}
#form h1 {
	font-size: 400%;
	color: #FF3E96;
	text-align: center;
}
#form label.error {
	float: none;
	color: red;
	font-size: 80.5%;
}

#form datepicker {
	width: 6.5em;
	display: inline-block;
}

#form number {
	width: 3em;
}
#about {
	text-align: center;
}
#about h4 {
	font-size: 200%;
}
#about img {
	width: 150px;
	height: 150px;
	border: 4px solid #FF3E96;
}

#footer {
	background: #FF3E96;
	border: solid white 3px;
	color: white;
}

#footer h1 {
	font-size: 150%;
	color: white;
}
#footer h4 {

	color: white;
}
#footer h3 {
	font-size: 70%;
}
#footer a {
	color: #D3D3D3;
}
#footer a:hover {
	color: #8C8C8C;
}

#whoops {
	font-size: 300%;
}
#mobile div {
	align: center;
}
